.login-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-left{
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    background: rgb(1,68,33);
    background: linear-gradient(59deg, rgba(1,68,33,1) 0%, rgba(123,17,19,1) 100%);
}

/* .login-left-caption{
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
} */

.login-right{
    display: flex;
    width: 450px;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

/* .login-welcome{
    color: white;
    font-size: 2.5vw;
} */


/* .login-appname{
    color: white;
    font-size: 3.25vw;
} */

.login-logo{
    width: 96px;
    width: 25vh;
}

.app-logo{
    /* width: 320px; */
    width: 100vh;
    transform: translateX(-3px);
}

.login-form-label{
    padding-left: 10px;
    text-align: center;
    align-self: flex-start;
}

.login-right-text{
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

.login-right-section{
    margin: 10px;
    display: flex;
    flex-direction: column;
}